<h2 class="font-weight-bold">Theme Demo Content</h2>

<p class="font-weight-italic">Theme Demo content is useful for recreating the theme demos we use to showcase our products. 
  You can use this as a starting point for your sites and then edit the content to fit your requirements. 
  It's a great way to get started quickly.</p>

  

  <h3 class="font-weight-bold">Posts and Pages</h3>

  <p class="text-info">The WordPress Demo Content for each theme is an xml file. This is a text file that describes the site data in a way that can be imported by WordPress. The demo content does not include image files however, once the import process has completed, the image files will have been loaded onto your site.

      The demo content import works best when you are importing the content into a fresh WordPress install. If you are importing it into an install that already had content then you may see some issues with importing the media and with featured images being assigned.
      
      To import the Demo Content xml file you should:
      
      Download the file relevant to your theme - xml links are below.
      Go to you WordPress site admin and make sure you have installed the WordPress Importer Plugin.
      Go to Tools → Import → WordPress
      Select the file that you downloaded, then press 'Upload file and import'.
      Follow the instructions on screen.
      The import process may take a while, but once complete you will have all of the posts, pages, and media from the demo site on your local WordPress install.
      Please note: The demo content only covers blog posts, pages, and (if supported) testimonials and projects. It does not cover the theme settings. Please check the relevant theme documentation to see how to configure your theme.</p>