<p class="text-info">
  That’s a bold statement ;-) What you are basically saying is: you collected our data, share your findings. 
  Strange assumption IMHO. Besides that, my recommendations are based on reviewing hundreds of sites in our consultancy projects, combined with personal experiences. 
  As you can see from the other comments, people started to reconsider/rethink their contact pages and I’d say that’s a goal achieved.

  Yes, I can see where you are coming from, absolutely. 
  But come to think of it, SEO’s goal is to get more traffic to your website, keep these visitors on your website and convert these visitors to customers/relations and your contact page is one of the tools to take that last step for a lot of websites.
   That is one. Besides that, people use Google to find contact details as well.
    For this selection of queries, considering your contact page as a landing page isn’t a stupid idea, right? You really want to make sure that page is equally optimized as your ‘regular’ landing pages. 
    I clearly see that link to SEO/UX and even conversion, but perhaps I should have explained that a bit better?
</p>