<p class="text-info">
    I’m a bit disappointed in this article. Here’s why:

    1. The title of the page is Contact Page Examples. 
    Wouldn’t one expect a ton of images of example pages that are doing things right/wrong? 
    We get one image and a few links.
    
    2. There’s no data here. Yoast used to run the often sold Google Analytics Plugin currently called Monster Insights. 
    I presume Yoast still collects usage data via its SEO plugin, so why not include bounce rate data, time on site, average conversion metrics… 
    Something to bring more than a basic list of communication and design suggestions. 
    The COO wrote this post, not some guest author, so why not utilize the usage data available?
</p>